* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

h1, p{
    background-color: lightgray;
}

h1{
    padding:50px;
    border-bottom: 2px solid #5d6063
}

p{
    padding: 20px 0 20px 10px;
    margin-top: 25;
    margin-bottom: 50px;
    
}

em, strong{
    display: inline;
    background-color: lightblue;    
}

strong{
    margin: 50px;
}

div {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px dotted #5D6063;
    border-radius: 5px;
}

div{
    width:200px;
    box-sizing: border-box;
    margin: 20px auto;
}